.home .card {
  width: 100%;
  background-color: white;
  margin-bottom: 1px;
  padding: 10px;
  font-family: "M";
}

.home .card:hover {
  filter: brightness(0.9);
  transition-duration: 0.4s;
}
.home .card .details {
  padding-left: 40px;
}

.home .card img {
  width: 300px;
  max-height: 400px;
}

.home .card .stamps {
  font-size: 12px;
  margin-top: 6px;
}
